.main-button{
    @include flexCenter;
    height: 65px;
    border-radius: $radius-64;

}
.primary-button {
  background-color: rgba(251, 76, 71, 1);
  color: $white-color;
  font-family: Gelion-Bold;
  font-size: $font-24;
  width: 250px;
  height: 70px;
  
}
.secondary-button{
    background-color: rgba($primary-color,0.15);
    width: 200px;
    color:$primary-color;
    font-size: $font-20;
}
.third-button{
    border: 2px solid $primary-color;
    width: 154px;
    height: 55px;
    color: $primary-color;
    font-size: $font-18;
}
