$primary-color: rgba(250, 86, 82, 1);
$secondary-color: rgba(3, 87, 85, 1);
$text-color: rgba(75, 79, 81, 1);
$light-text-color: rgba(0, 64, 46, 1);
$footer-color: rgba(65, 94, 86, 1);
$white-color: #fff;
$black-color: #000;
$green-color: rgba(12, 108, 68, 1);
