@font-face {
    font-family: Gelion-Bold;
    src: url(../../Gelion/Gelion\ Bold.ttf);
}
@font-face {
    font-family: Gelion-Light;
    src: url(../../Gelion/Gelion\ Light.ttf);
}
@font-face {
    font-family: Gelion-Medium;
    src: url(../../Gelion/Gelion\ Medium.ttf);
}
@font-face {
    font-family: Gelion-Regular;
    src: url(../../Gelion/Gelion\ Regular.ttf);
}
@font-face {
    font-family: Gelion-SemiBold;
    src: url(../../Gelion/Gelion\ SemiBold.ttf);
}